/************************************************* Version Desktop **********************************************************/

.dropdownContainer {
  display: flex;
  gap: 76px;
}

.dropdownContainer #descriptionContent {
  width: 550px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

li {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  list-style-type: none;
}

.dropdownHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px 10px;
  border-bottom: 1px solid #e0e0e0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: #ff6060;
  color: white;
  border-radius: 25px;
}

.downArrow {
  margin: 3px 450px 2px 15px;
}

.dropdownHeader svg {
  transition: transform 0.5s ease;
}

.dropdown.active .dropdownHeader svg {
  transform: rotate(180deg);
}

/*************************************************** Verson mobile *********************************************************************/
@media (max-width: 480px) {
  .dropdownContainer {
    gap: 20px;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .dropdownHeader {
    width: 95%;
    align-items: center;
  }

  .dropdownContainer #descriptionContent {
    width: 95%;
    font-size: 16px;
  }

  .downArrow {
    margin: 3px 250px 2px 15px;
  }
}
