/************************************************* Version Desktop **********************************************************/

.tags {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  gap: 20px;
}

.tag {
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
}

/************************************************* Version Mobile **********************************************************/

@media (max-width: 480px) {
  .tags {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }

  .tag {
    width: 30%;
  }
}
