/************************************************** Version Desktop *****************************************************/

.hostNamePicture {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}

.hostPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.hostName p {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

/************************************************** Version Mobile *****************************************************/

@media (max-width: 480px) {
  .hostNamePicture {
    flex-direction: column;
    gap: 10px;
  }

  .hostName p {
    font-size: 14px;
  }
}
