/******************************************* Desktop ********************************************/

.footer {
  background-color: black;
  width: 100%;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: black;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
  align-items: center;
}

.logo-footer img {
  width: 122px;
  height: 39px;
  margin-top: 40px;
  justify-content: center;
}

.logo-footer p {
  display: flex;
  width: 100%;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  color: white;
  height: 30px;
}

/******************************************** Mobile ***********************************************/

@media (max-width: 480px) {
  .logo-footer img {
    width: 122px;
    height: 39px;
  }

  .logo-footer p {
    font-size: 12px;
  }
}
