/*************************************************** Version Desktop  ******************************************************/

.content {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  width: 1240px;
  margin-bottom: 30px;
}

.nameLogement {
  width: 100%;
  display: flex;
  font-size: 36px;
  font-weight: 500;

  margin-bottom: 5px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

.location {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 50%;
}

/*************************************************** Version Mobile  ******************************************************/

@media (max-width: 480px) {
  .content {
    display: grid;
    gap: 20px;
    width: 100%;
  }

  .nameLogement {
    font-size: 24px;
    width: 100%;
  }

  .location {
    font-size: 14px;
  }
}
