.textError h1 {
  display: flex;
  font-size: 288px;
  align-items: center;
  justify-content: center;
  color: #ff6060;
  width: 100%;
  margin-bottom: 139px;
  margin-top: 139px;
}

.textError h2 {
  display: flex;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  color: #ff6060;
  width: 100%;
}

.accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 139px;
  margin-bottom: 139px;
  color: black;
  font-size: 18px;
  text-decoration: underline solid 2px lightslategray;
}
